/* align-self : 지정된 align-items의 값을 무시하고 flex 요소를 세로선 상에서 정렬

- flex-start
- flex-end
- center
- baseline
- stretch
*/

#pond {
  display: flex;
  align-items: flex-start;
}

.yellow {
  align-self: flex-end;
}
